* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #2b2888;
  --color-secondary: #c2baba;
  --color-accent: rgb(186, 0, 180);
}

body {
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

.scene {
  display: none !important;
}

.scene.active {
  display: flex !important;
}

.hidden {
  display: none !important;
}